.tabs-customer {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 576px) {
        flex-direction: row;
    }

    :global(.ant-tabs-content-holder) {
        margin-top: 20px;
        padding: 20px !important;
        background-color: white !important;
        border: 0;
        border-radius: 10px;

        @media screen and (min-width: 1200px) {
            margin-left: 32px !important;
        }

        @media screen and (min-width: 576px) {
            margin-left: 20px;
            margin-top: 0px !important;
        }
    }

    :global(.ant-tabs-nav) {
        min-width: 200px !important;
        background-color: rgb(255, 255, 255);
        border-radius: 16px;
        padding: 20px 0px;

        @media screen and (min-width: 1200px) {
            min-width: 280px !important;
        }
    }

    :global(.ant-tabs-tab) {
        color: rgb(17, 24, 39);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 12px 24px !important;
        border-radius: 0px 30px 30px 0px !important;
        margin-right: 20px !important;
        margin-top: 1px !important;
    }

    :global(.ant-tabs-ink-bar) {
        background: none !important;
    }

    :global(.ant-tabs-tab-active) {
        color: rgb(10, 143, 220);
        background-color: rgba(10, 143, 220, 0.1);
    }

    :global(.ant-tabs-tabpane) {
        padding-left: 0 !important;
    }
}