# Ignore node_modules in both HOME_FRONT_END and HOME_BACKEND
HOME_FRONT_END/node_modules/
HOME_BACKEND/node_modules/

# Ignore build outputs in HOME_FRONT_END and HOME_BACKEND
HOME_FRONT_END/build/
HOME_FRONT_END/dist/
HOME_BACKEND/dist/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Ignore environment files
HOME_FRONT_END/.env
HOME_BACKEND/.env

# IDE/editor folders
.vscode/
.idea/

# Ignore storybook build folder (nếu dùng Storybook cho HOME_FRONT_END)
HOME_FRONT_END/storybook-static/
