@use "./../assets//breakpoints" as *;

.sider {
    height: 100vh;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.user-info {
    display: flex;
    align-items: center;
    padding: 12px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .user-info-content {
        display: flex;

        padding: 5px;
    }

    .username-info {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
}

.text-chucvu {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header {
    padding: 10px !important;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;

    .header-children {
        height: 100%;
        align-items: center;
        display: flex;
        .header-logo {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            -webkit-box-align: center;
            align-items: center;
            margin-left: 10px;
            img {
                height: 36px;
                margin-right: 10px;
            }
        }
    }
}

.content {
    background-color: #f4f7fe;
}

.content-children {
    padding: 30px;
}
