@use "./../assets//breakpoints" as *;

.sider {
    height: 100vh;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.header {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}